<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <title>About</title>
  </head>
  <body>
    {{>header}}
    <div class="content">
    <div class="ui segment" >
        <img class="ui small left floated image" src="images/Imran.png">
        <p class="ui header">Hi, I'm Imran Ismail, and I'm a software development enthusiastic. I mainly use NodeJS and React to develop my apps.
              The main idea of developing this site is to tell about me, and my software development projects.</p>
    </div>    
    
     <div class="footer">
          {{>footer}}
       </div>
      </div>  
  </body>
</html>