<html>
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <title>About</title>
  </head>
  <body>
   
      {{>header}}
       <div class="content">
         <img class="fakeimg" style="width:150px; height:200px;" src="images/Imran.png" />
       </div>
       <div class="footer">
          {{>footer}}
       </div>
  </body>
</html>