<div class="header"><h1>{{title}}</h1></div>

<div class="topnav">
  <a href="/">Home</a>
  <a href="/weather">Weather</a>
  <a href="/about">About Me</a>
  <a href="/help">Help</a>
  <a href="#" style="float:right">Login</a>
</div>